@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/regular.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.changes.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>@(ViewBag.Title ?? "Blogio")</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Login">Blogio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @if(User.Identity.IsAuthenticated)
            { 
                @if(User.IsInRole("Writer") || User.IsInRole("Admin"))     
                {
                    <a class="nav-link" asp-controller="Writer" asp-action="Index">Writer</a>
                } 
                @if(User.IsInRole("Admin"))
                {
                    <a class="nav-link" asp-controller="Roles" asp-action="Index">Manage Roles</a>
                }                
                <a class="nav-link" asp-controller="Users" asp-action="Edit">Edit Your Profile</a>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="nav-link btn" id="logout" type="submit" value="Log Out"/>
                </form>
            }
            else
            {
                <a class="nav-link" asp-controller="Account" asp-action="Login">Log In</a>
                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
            }   
        </div>
        </div>
        <form method="get" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchQuery">
            <button class="btn btn-outline-light" type="submit" asp-controller="Home" asp-action="Search">Search</button>
        </form>
    </div>
    </nav>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>    
</body>
</html>