@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title">Roles List</h4>
        <div class="card-text">
            <table class="table">
                @foreach (IdentityRole role in Model ?? new List<IdentityRole>())
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@role.Id">
                                <button type="submit" class="btn btn-outline-danger" style="float: right;">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div>
            <a class="btn btn-outline-warning btn-block" asp-action="Create" style="width: 10%; float: left;">Add Role</a>
            <a class="btn btn-outline-warning" asp-action="UserList" style="width: 10%;">Authors List</a>
        </div>
    </div>
</div>




